.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1em;
    border-radius: 10px;
    width: 550px;
    height: 850px;
    border: 1px solid black;
    background-color: maroon;
    padding: 10px;
    margin: auto
}


.dice-container {
    display: grid;
    border: 1px solid black;
    border-radius: 5px;
    grid-template-columns: repeat(5, 64px);
    grid-template-rows: 1fr 1fr;
    justify-content: center; 
    align-items: top; 
    gap: 30px;
    padding: 25px;
}



.dice {
    width: 64px;
    height: 64px;
    border: 2px solid rgb(7, 179, 1);
}

.button {
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    grid-column: 5;
}

.score-container {
    display: grid;
    border: 1px solid black;
    border-radius: 5px;
    grid-row: span 2;
    gap: 10px;
}


.score {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.score input {
    width: 50px;
}

.sum {
    grid-row: 2;
    grid-column: 3;
}

.bonus {
    grid-row: 2;
    grid-column: 4;
}