body {
    display: grid;
    justify-content: center;
    gap: 8px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


button {
    padding: 16px 32px;
    border: 1px solid;
    font-size: 18px;
    border-radius: 32px;
    background-color: #fafafa;
    cursor: pointer;
}

input {
    width: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #ececec;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    border-radius: 10px;
    width: 550px;
    border: 1px solid black;
    background-color: maroon;
    padding: 10px;
}

div, img {
    border-radius: 8px;
}

.container {
    grid-column: 1 / -1;
}

.upper-part {
    display: grid;
    grid-template-areas: 
        "dice dice"
        "turn roll";
    gap: 20px;
    padding: 2em;
}

.dice-container {
    grid-area: dice;

    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px;
    justify-content: space-between;
    align-items: center;
}

.dice {
    width: 80px;
    height: 80px;
    justify-self: center;
    border: 2px solid rgb(7, 179, 1);
    cursor: pointer;
}

.turn {
    grid-area: turn;
}

#roll-button {
    grid-area: roll;
}

/* toggles når man trykker på en dice */
.hold {
    border-color: rgb(195, 8, 8);
}




.dice > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}




.score-container {
    display: grid;
    border: 1px solid black;
    border-radius: 5px;
    grid-auto-rows: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.sum {
    grid-row: 6;
    grid-column: 3;
}

.bonus {
    grid-row: 6;
    grid-column: 4;
}

.total {
    grid-row: 15;
    grid-column: 4;
}

.selected {
  background-color: #e0e0e0;
  color: #888888;
  cursor: not-allowed;
  border: 1px solid #ccc;
}